//Side bar style

.sidenav {
  h2 {
    margin: 20px;
    font-size: 22px;
  }
  li {
    a {
      padding: 0 0 0 80px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
